.episode {
    width: 100%;
    background: linear-gradient(
        90deg, rgb(79, 152, 198), rgb(30, 122, 179),
    );
    border-radius: 15px;
    padding: 2rem;
}

p {
    font-size: 1rem;
    color: rgb(7, 50, 76);
    font-weight: 500;
}

span {
    font-weight: 700;
    color: rgb(0, 41, 67);
}