<header>
  <h1>{{ serie.name }}</h1>
  <h3>Información de la serie</h3>
</header>

<main>
  <section class="container-info-serie">

    <div class="cont-img">
      <img [src]="serie.image.original" alt="Imagen serie">
    </div>

    <div class="cont-info">
      <p><span>ID:</span> {{ serie.id }}</p>
      <p><span>Nombre:</span> {{ serie.name }} </p>

      <div class="resumen">
        <span>Resumen: </span>
        <p [innerHTML]="serie.summary"></p>
      </div>
      
      <p><span>Lenguaje:</span> {{ serie.language }}</p>
      <p><span>Fecha de estreno:</span> {{ serie.premiered}}</p>

      <p>Para ver la serie en TV Maze presione <a [href]="serie.url" target="_blank">Aquí.</a></p>
      <p>Para ver el sitio oficial presione <a [href]="serie.officialSite" target="_blank">Aquí.</a></p>
    </div>

  </section>

  <section class="container-list-episodes">
    <h3>Episodios</h3>
    <app-episode-list [episodesList]="episodesSerie"></app-episode-list>
  </section>

  <section class="container-list-cast">
    <h3>Elenco</h3>
    <app-cast-list [castList]="castSerie"></app-cast-list>
  </section>
</main>